@tailwind base;
@tailwind components;
@tailwind utilities;

/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
} */

.min-w-1\/3 {
  min-width: calc(100% / 3);
}